<div class="modal fade" id="destroy_athlete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="central-container">
    <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
    <div class="error-container center-block">
      <h1 class="pkut-header">Are you sure?</h1>
      <p class="error-message">Deleting athletes is permanent and cannot be undone.</p>
      <%= link_to "Confirm", '', class: 'pkut-btn delete-athlete-btn', method: "post" %>
    </div>
  </div>
</div>

<!-- <a alt="..." class="pkut-btn pull-right" data-toggle="modal" data-target="#destroy_athlete">~~texthere~~</a><br/> -->
<%#= render partial: 'dependents/confirm_delete', locals: {modal_id: "", title: "", message: ""} %>
