<div class="modal fade" id="waiver_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="fancy-box central-container">
      <h2>We, as Parkour Utah, pride ourselves in the safety taught by our instructors. Athletes are taught to pace themselves and to always be sure of their movements before trying new things.</h2>
      <h4>In the case of an accident, I understand the terms listed in the waiver listed previously and I have no intention to hold Parkour Utah financially responsible for any injury occuring during, after, or in relation to the attended classes.</h4>
      <h4>By clicking the submit button below, I certify that I am waiving liability claims against Parkour Utah for the athlete listed and that I agree to the terms listed above.</h4>
      <h3><%= waiver.submit "Submit", class: 'fancy-btn waiverVerify' %></h3>
    </div>
  </div>
</div>
