<div class="modal fade" id="reiterate_waiver_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="central-container modal-dialog standard-modal small-container">
    <button type="button" class="close-btn " data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
    <h5 class="attention-text"><strong>We, as Parkour Utah LCC, pride ourselves in the safety taught by our instructors. Athletes are taught to pace themselves and to always be sure of their movements before trying new things.</strong></h5>
    <h5 class="attention-text">In the case of an accident, I understand the terms listed in the waiver and I have no intention to hold Parkour Utah financially responsible for any injury occuring during, after, or in any relation to the attended classes.</h5>
    <h5 class="attention-text">By clicking the submit button below, I certify that I am waiving liability claims against Parkour Utah for the athlete listed and that I agree to the terms as written above.</h5>
    <div class="internal-center">
      <%= submit_tag "Submit", class: 'pkut-btn' %>
    </div>
  </div>
</div>
