<div class="fancy-box central-container form-offset">
  <%= form_tag url: {action: 'create'} do %>
    <h2 class="fancy-btn add-athlete-btn">Add Athlete</h2></br>
    <div class="athletes-holder">
      <% token = 10.times.map {(('a'..'z').to_a + ('A'..'Z').to_a + ('0'..'9').to_a).sample}.join %>
      <label>Athlete's full name</label></br>
      <input type="text" class="fancy-textbox" name="athletes[<%= token %>][name]" placeholder="Sam Smith" required="true", autocomplete="off"/><br/>
      <label>Athlete's Birthdate</label></br>
      <input type="text" class="fancy-textbox maskDOB" name="athletes[<%= token %>][dob]" placeholder="dd/mm/yyyy" required="true", autocomplete="off"/><br/>
    </div>
    <%#= telephone_field_tag :athlete_pin, class: 'restrictNumeric fancy-textbox pin-entry formatPin', autocomplete: 'off' %>
    <%= submit_tag "Submit", class: 'fancy-btn athleteVerify set-min-width-btn' %>
  <% end %>
</div>
