<div class="fancy-box central-container form-offset">
  <%= form_tag url: {action: 'create'} do %>
    <h2 class="fancy-btn add-athlete-btn">Add Athlete</h2>
    <br/><h5>The Athlete's full name:</h5>
    <div class="athletes-holder">
      <input type="text" class="fancy-textbox" name="athletes[]" placeholder="Sam Smith" required="true", autocomplete="off"/><br/>
    </div>
    <%#= telephone_field_tag :athlete_pin, class: 'restrictNumeric fancy-textbox pin-entry formatPin', autocomplete: 'off' %>
    <%= submit_tag "Submit", class: 'fancy-btn athleteVerify set-min-width-btn' %>
  <% end %>
</div>
