<div class="central-container">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %>

  <div class="text-center">
    <%= paginate @chat_rooms %>
  </div>

  <div class="chat-rooms-container">
    <%= render partial: 'index', locals: {chat_rooms: @chat_rooms} %>
  </div>

  <div class="text-center">
    <%= paginate @chat_rooms %>
  </div>

</div>
