<div style="width: 600px; max-width: 100%; margin: 0 auto;">
  <p>Your place in the FITCON 2021 ADULT PARKOUR FREESTYLE & ADULT PARKOUR SPEED COMPETITION has been confirmed! Competition grounds open today (Friday 6/4) at 3:00 PM they will then close at 9:00 PM and reopen the following day (Saturday 6/5) at 10:00 AM. The ADULT SPEED COMPETITION will be held first on Saturday at 1:00 PM. Following that the ADULT FREESTYLE COMPETITION will be held at 3:00 PM. Included is your QR code ticket for Entry into FITCON.</p>
  <p></p>
  <p>See you there!!!</p>
  <p></p>
  <img src="https://pkut-default.s3-us-west-2.amazonaws.com/image.png" alt="QR Code">
  <p></p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;Ryan Sannar<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Manager<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Parkour Utah<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:8444355867">844-435-5867</a>
  </p>
</div>
