<h4>Don't forget about your class today!</h4>
<h3><%= @msg %></h3>
<p>You are receiving this email because you are subscribed to ParkourUtah's email subscription. If you would like to unsubscribe, please click <%= link_to "Here.", unsubscribe_email_url(id: @user.id, type: "email_class_reminder") %></p>
