<div style="width: 600px; max-width: 100%; margin: 0 auto;">
  <p>Hello,</p>
  <p>Thank you for registering for the University Place Competition to be held at The Orchard on Monday June 25th at 5:30pm. We're really excited to have you attend and show off your skills. This email is to serve as a confirmation that we received your registration for <span style="color: #DF0D15;"><%= @competitor.athlete.full_name %></span> and to inform you that it is currently under review.</p>
  <p>As a quick reminder we will be holding the competition outside and our participants will be randomized after being sorted into Youth and Adult.</p>
  <p>You will receive an email here once your registration has been reviewed and approved.</p>
  <p>If you have any questions please feel free to respond to this email or reach out to us on facebook.</p>
  <p>See you at the competition!</p>
  <br>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;Ryan Sannar<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Manager<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Parkour Utah
  </p>
</div>
