<div class="central-container">
  <% @event_schedules.group_by(&:city).each do |city, schedules| %>
    <h3><a href="<%= new_event_schedule_path(city: city) %>" class="pkut-btn"><i class="fa fa-plus"></i></a> <%= city %></h3>
    <% schedules.each do |schedule| %>
      <a href="<%= edit_event_schedule_path(schedule) %>" class="pkut-btn"><%= schedule.title %></a> <br>
    <% end %>
  <% end %>
</div>
