@font-face {
  font-family: 'sevSeg';
  src:asset-url('sevSeg.ttf');
  src:asset-url('sevSeg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'digital_7';
  src:asset-url('digital-7.ttf');
  src:asset-url('digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Young-Italic';
  src: font-url('young/Young-Italic.ttf');
}

@font-face {
  font-family: 'Young';
  src: font-url('young/Young.ttf');
}


@font-face {
  font-family: 'Gravity-Bold-Italic';
  src: font-url('gravity/Gravity-Bold-Italic.ttf');
}

@font-face {
  font-family: 'Gravity-Bold';
  src: font-url('gravity/Gravity-Bold.ttf');
}

@font-face {
  font-family: 'Gravity-Book-Italic';
  src: font-url('gravity/Gravity-Book-Italic.ttf');
}

@font-face {
  font-family: 'Gravity-Book';
  src: font-url('gravity/Gravity-Book.ttf');
}

@font-face {
  font-family: 'Gravity-Light-Italic';
  src: font-url('gravity/Gravity-Light-Italic.ttf');
}

@font-face {
  font-family: 'Gravity-Light';
  src: font-url('gravity/Gravity-Light.ttf');
}

@font-face {
  font-family: 'Gravity-UltraLight-Italic';
  src: font-url('gravity/Gravity-UltraLight-Italic.ttf');
}

@font-face {
  font-family: 'Gravity-UltraLight';
  src: font-url('gravity/Gravity-UltraLight.ttf');
}


@font-face {
  font-family: 'MicroExtendFLF';
  src: font-url('MicroExtendFLF/MicroExtendFLF.ttf');
}

@font-face {
  font-family: 'MicroExtendFLF-Bold';
  src: font-url('MicroExtendFLF/MicroExtendFLF-Bold.ttf');
}

@font-face {
  font-family: 'MicroExtendFLF-BoldItalic';
  src: font-url('MicroExtendFLF/MicroExtendFLF-BoldItalic.ttf');
}

@font-face {
  font-family: 'MicroExtendFLF-Italic';
  src: font-url('MicroExtendFLF/MicroExtendFLF-Italic.ttf');
}
