// Colors
$pkut-black: #000;
$pkut-cream: #EEE;
$pkut-grey-dark: #504F50;
$pkut-grey: #CCC;
$pkut-grey-light: #9A9A9A;
$pkut-orange: #F7941D;
$pkut-red: #DF0D15;
$pkut-rejected-red: #AE3E3E;

// Fonts
