// Colors
$pkut-orange: #F7941D;
$pkut-red: #DF0D15;
$pkut-red-dark: #AE3E3E;

$pkut-grey-white: #EEE;
$pkut-grey-light: #CCC;
$pkut-grey: #9A9A9A;
$pkut-grey-dark: #504F50;


// Fonts


// Heights
$navbar-height: 50px;
