// Colors
$pkut-orange: #F7941D;
$pkut-red: #DF0D15;
$pkut-red-dark: #B93D36;

$pkut-grey-white: #EEE;
$pkut-grey-light: #CCC;
$pkut-grey: #9A9A9A;
$pkut-grey-dark: #504F50;

$mat-white: #FAFAFA;

$mat-pkut-red-light: #FF0E16;
$mat-pkut-red: #DF0D15;
$mat-pkut-red-dark: #9F090E;

$mat-green-light: #A5D6A7;
$mat-green: #4CAF50;
$mat-green-dark: #2E7D32;

$mat-grey-light: #EEE;
$mat-grey: #9E9E9E;
$mat-grey-dark: #424242;

$mat-orange-light: #FFCC80;
$mat-orange: #FF9800;
$mat-orange-dark: #EF6C00;

$tran-black-50: rgba(0, 0, 0, 0.50);
$tran-black-20: rgba(0, 0, 0, 0.20);

// Fonts

// Heights
$navbar-height: 51px;

// Colors
$pkut-blue: #0074D9;
$pkut-blue-light: #CFD8DC;

$pkut-orange: #FF9800;
$pkut-orange-light: #FFCC80;
$pkut-orange-dark: #EF6C00;

$pkut-red: #DF0D15;
$pkut-red-dark: #9F090E;
$pkut-red-muted: #B93D36;

$pkut-green: #4CAF50;
$pkut-green-light: #A5D6A7;
$pkut-green-dark: #2E7D32;

$pkut-light: #f5f5f5;
$pkut-grey-1: #EEEEEE;
$pkut-grey-2: #CCCCCC;
$pkut-grey-3: #9E9E9E;
$pkut-grey-4: #707070;
$pkut-grey-5: #424242;
$pkut-dark: #333333;

$social-facebook: #3B5998;
$social-youtube: #B31217;
$social-twitter: #55ACEE;