// Colors
$pkut-orange: #F7941D;
$pkut-red: #DF0D15;
$pkut-red-dark: #B93D36;

$pkut-grey-white: #EEE;
$pkut-grey-light: #CCC;
$pkut-grey: #9A9A9A;
$pkut-grey-dark: #504F50;

$mat-white: #FAFAFA;

$mat-pkut-red-light: #FF0E16;
$mat-pkut-red: #DF0D15;
$mat-pkut-red-dark: #9F090E;

$mat-green-light: #A5D6A7;
$mat-green: #4CAF50;
$mat-green-dark: #2E7D32;

$mat-grey-light: #EEE;
$mat-grey: #9E9E9E;
$mat-grey-dark: #424242;

$mat-orange-light: #FFCC80;
$mat-orange: #FF9800;
$mat-orange-dark: #EF6C00;

$tran-black-50: rgba(0, 0, 0, 0.50);
$tran-black-20: rgba(0, 0, 0, 0.20);

$flash-text: white;
$flash-notice-bg: $mat-grey-light;
$flash-notice-bg: #BCDEC6;
$flash-alert-bg: #C40820;

$notification-color: #E44147;

// Fonts

// Heights
$navbar-height: 51px;

// z-index
// z-index is set to 1030 in Bootstrap for Navbars
$navbar-z-index: 1030;
