<div class="modal fade" id="modal_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="central-container fancy-box">
      Enter a new pin for <%= athlete.name %>
    </div>
  </div>
</div>
