<div class="modal fade" id="datepicker-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="central-container">
    <div class="error-container modal-date-picker-container center-block">
      <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
      <h1 class="pkut-header">Select Date</h1>
      <span class="calendar-date-picker internal-center"></span>
    </div>
  </div>
</div>
