<% date ||= @date %>
<% day ||= @day %>
<div class="a-single-date <%= date.to_date == day.to_date ? 'date' : '' %>" data-date="<%= day %>">
  <%= day.strftime('%A %B %d, %Y') %>
  <br/>
  <% Event.by_date(day).each do |event| %>
    <div class="">
      <%= event.class_name %>
    </div>
  <% end %>
</div>
