<% week ||= @week %>
<div class="row month-container">
  <h3><%= Time.zone.now.strftime('%B %Y') %></h3>
</div>
<div class="row">
  <div class="col-sm-12 calendar-partial">
    <span class="pull-left calendar-scroll calendar-left"></span>
    <span class="pull-right calendar-scroll calendar-right"></span>
    <div class="calendar make-table">
      <div class="make-tr">
        <% %w(Mon Tues Wed Thurs Fri Sat).each do |day_of_week| %>
          <div class="make-td"><%= day_of_week %></div>
        <% end %>
      </div>
      <div class="make-tr week-container" data-week-url="<%= week_path %>">
        <%= render partial: 'desktop_week', locals: {week: week} %>
      </div>
    </div>
  </div>
</div>

<div class="loading-container" hidden></div>
<div class="holding-container" hidden></div>
