<% content_for :body do %>
  <style>
    html, body {
      overflow: hidden;
    }
  </style>
<% end %>

<div class="view-container" data-day-url="<%= calendar_day_url %>">
  <div class="days-container">
    <% @days.each do |day| %>
      <%= render partial: 'day', locals: {day: day, date: @date} %>
    <% end %>
  </div>
</div>

<div class="loading-container"></div>
