<% content_for :body do %>
  <style>
    html, body {
      overflow: hidden;
    }
  </style>
<% end %>

<div class="view-container">
  <div class="days-container">
    <% @days.each do |day| %>
      <div class="a-single-date">
        <%= day %>
      </div>
    <% end %>
  </div>
</div>
