<% content_for :body do %>
  <style>
    html, body {
      overflow: hidden;
    }
  </style>
<% end %>

<div class="view-container">
  <div class="days-container">
    <div class="a-single-date">
      <%= @date %>
    </div>
    <div class="next-day">
      <%= @date + 1.day %>
    </div>
    <div class="previous-day">
      <%= @date - 1.day %>
    </div>
  </div>
</div>
