<h2>Thanks for joining ParkourUtah!</h2>
<br/>
<% @athletes.each do |athlete| %>
  <h4><%= athlete.full_name %></h4>
  <p>Athlete ID is: <strong><%= athlete.athlete_id %></strong></p>
  <p>Athlete Access Code is: <strong><%= athlete.athlete_pin %></strong></p>
<% end %>
<p>Do NOT give out or forget your ID's or Access Codes.</p>
<p>ID's are permanent and cannot be changed. They tell us who you are.</p>
<p>Access Codes are a way for you to tell us that you are who you say you are, so that we know that nobody is impersonating you!</p>
<p>Access Codes can be changed and Athlete ID's can be retrieved at any time. Just go to your account, find the Athlete, and click the request new ID or forgotten PIN link.</p>
<p>In the case you do forget, you can refer to this email, or request the ID and a reset PIN link once again from your Account Settings at www.parkourutah.com</p>
<br/>
</br>
<h3>How is this going to work?</h3>
</br>
<p>Next time you come to class, the instructor will ask for your pin, and show you a pin pad on their device.</p>
<p>At that point, you should enter your Athlete ID.</p>
<p>Your instructor will then request to take a profile photo of you. This is an extra layer of security to make sure nobody is impersonating you! This picture will only be taken the first time you come to class.</p>
<p>After confirming who you are, the instructor will once again prompt you for a pin.</p>
<p>This time, enter your Athlete PIN.</p>
<p>If there are enough credits in your account and you have a valid waiver, you will be accepted to class.</p>
<h4>That's it! We hope this will become a very fast and easy process to allow both instructors and students alike to spend more time training and not worrying about money and paperwork.</h4>
<p>We would love to hear any feedback! Feel free to send us an email at service@parkourutah.com telling us what we can do better.</p>
