<div class="central-container fancy-box">
  <h2>Confused?</h2>
  <h3>Reach out!</h3>
  <%= text_field '', '', class: 'fancy-textbox', placeholder: 'Your Name' %>
  <%= text_field '', '', class: 'fancy-textbox', placeholder: 'Email' %>
  <%= text_field '', '', class: 'fancy-textbox', placeholder: 'Phone' %>
  <%= text_area '', '', class: 'fancy-textarea', placeholder: 'Tell us what you need and when the best time is to contact you.' %>
  <h3 class="fancy-btn">SEND</h3>
</div>
