<div class="central-container error-div">
  <h1 class="lead">404</h1>
  <div class="pull-left">Looks like there's nothing here.</div><br/>
  <div class="pull-left">Click <%= link_to 'here', root_path %> to go back to the main page.</div>
</div>
