<div class="central-container error-div">
  <h1 class="lead"><%= @protocol %></h1>
  <div>Looks like there's nothing here.</div>
  <div>Click <%= link_to 'here', root_path %> to go back to the main page.</div>
</div>
