<div class="row">
  <div class="col-sm-3">
    <br/><%= ff.label :name, 'Name:' %>
  </div>
  <div class="col-sm-9">
    <%= ff.text_field :name, class: 'pkut-textbox customRequired' %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <br/><%= ff.label :number, 'Phone Number:' %>
  </div>
  <div class="col-sm-9">
    <%= ff.telephone_field :number, class: 'pkut-textbox formatPhoneNumber customRequired' %>
  </div>
</div>
