<% unless @user.can_receive_sms? %>
  <div class="row pkut-text">
    <h5>Uh oh! Looks like you blacklisted ParkourUtah's number.</h5>
    <h5>It's okay- it happens when you respond with just the word "STOP" to one of our messages- but it stops us from notifying you regarding the things you want to be notified on!</h5>
    <h5>These can be helpful- like letting you know that one of your waivers are about to expire.</h5>
    <h5>We let you customize when you hear from us. Just click on the "Notifications" button in order to choose which situations you want us to notify you with.</h5>
  </div>
<% end %>

<a class="pkut-btn text-center forceOpen" data-toggle="modal" data-target="#notification_modal">Edit Notifications</a><br/>
<%= render partial: 'devise/registrations/notifications' %>
