<%= render_modal("destroy_athlete", "skinny-modal") do %>
  <h1 class="pkut-header">Are you sure?</h1>
  <p class="error-message">Deleting athletes is permanent and cannot be undone.</p>
  <%= link_to "Confirm", '', class: 'pkut-btn delete-athlete-btn', method: "post" %>
<% end %>
