<p>Someone has requested a change in access for the ID or PIN for <%= @name %>.</p>
<br/>
<p><%= @athlete.full_name %></p>
<p>Athlete ID: <%= @athlete.athlete_id %></p>
<p><%= link_to 'Change Athlete Pin', reset_athlete_pin_url(@athlete.id) %></p>
</br>
<p>If you didn't request this, please ignore this email.</p>
<p>Your pin won't change until you access the link above and create a new one.</p>
