<div class="fancy-box central-container form-offset">
  <% @athletes.each do |athlete| %>
    <h3><%= athlete.full_name %></h3>
    <p>Guardian phone: <%= athlete.guardian_phone %></p>
    <p>Emergency Contact: <%= athlete.emergency_phone %></p>
    <br/>
    <br/>
  <% end %>
  <%= link_to "Back to PIN entry", begin_class_path(params[:id]), class: 'fancy-btn' %>
</div>
