<h2 class="secret-title">Athlete PIN</h2>
<div class="secret-field">
  <%= form_tag({controller: "peeps", action: "validate_pin", id: params[:id]}, method: "patch") do |f| %>
    <%= text_field_tag :pin, nil, class: 'secret-input-field', readonly: true %><br/>
    <%= hidden_field_tag :athlete_id, @athlete.athlete_id %>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">1</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">2</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">3</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">4</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">5</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">6</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">7</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">8</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">9</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn"><</a></div>
    <div class="secret-btn-container col-xs-4"><a href="#" class="secret-input-btn no-zoom secret-field-btn">0</a></div>
    <div class="secret-btn-container col-xs-4"><%= submit_tag "√", class: "secret-field-btn" %></div>
  <% end %>
</div>
