<!--
  Search by email
  Require fields:
    First Name
    Last Name
    Nickname * Not required
    Title
    Pay
    Bio ** Show size/max size
    Front Image
    Back Image
 -->
<div class="fancy-box central-container form-offset">
  <h4><%= link_to "Back to Dashboard", dashboard_path, class: 'fancy-btn' %></h4><br/><br/>
</div>
