<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Class summary for <%= @date %>.</h1>
    <% @classes.each do |event| %>
      Class: <%= event.first %><br/>
      <% event[1].each do |instructor| %>
        --Instructor: <%= instructor.first %><br/>
        <% instructor[1].each do |athlete| %>
          ---- <%= athlete %><br/>
        <% end %>
      <% end %>
      <br/><br/>
    <% end %>
  </body>
</html>
<!--
{"Advanced - Sandy"=>
  {"Instructor Name"=>
    [
      "Some Kid - Credits",
      "Other Kid - Cash",
      "His kid - Credits"
    ],
    "Other Instructor"=>
      [
        "Small Kid - Credits",
        "Old Kid - Credits",
        "Another Kid - Credits"
      ]
  },
  {"Advanced - Sandy"=>
    {"Some Instructor"=>
      ["Rocco Nicholls - Credits"]
    }
  }
}
@classes = {
  class = [
    "name - payment_type",
    "name - payment_type"
  ],
  class = [
    "name - payment_type",
    "name - payment_type",
    "name - payment_type",
    "name - payment_type"
  ]
}

March 15, 2015

Intermediate - Sandy
  Marcos
    Rocco - Cash
    Kim - Credits

Fundamentals - Draper
  Justin
    Sam - Credits -->
