
  <div>
    <br>
    <div>
    <div style="text-align:center">
      <b>
        <font size="6">
          OPEN GYM TIME!!!
        </font>
        </b>
      </div>
      <div style="text-align:center">
        <br>
      </div>
      <div style="text-align:center">
        This Friday night (01/22) Parkour Utah is hosting our 1st Open Gym!</div>
        <div>
          <br>
        </div>
        <div>
          What does this mean? Good question. Open gyms are an opportunity for you to try out the skills you&#39;re not ready to take outside just yet as well as learn new flips and tricks. It&#39;s a great way to get connected to other Parkour Utah athletes and to push yourself to become better at parkour. You&#39;ll have access to a trampoline, springboard floors and pads so that you can safely try new techniques. Plus we&#39;re gonna play cool music and probably have mini tricking/parkour competitions.</div>
          <div>
            <br>
          </div>
          <div>
            Our open gyms are $5 (plus tax) and run for 2 hours. We&#39;re hosting our Open Gym at UPA Cheer Academy located just off of the 14600 S Exit between Salt Lake and Utah counties.</div>
            <div>
              <br>
            </div>
            <div>
              <b>
                When:</b>
                Friday January 22nd from 5:00pm to 7:00pm</div>
                <div>
                <b>
                  Who:</b>
                  Parkour Utah Athletes <b>
                    -------- 18 AND UNDER ---------</b>
                  </div>
                  <div>
                    <b>
                      Where:</b>
                      UPA Cheer AcademyC2A0<span style="color:rgb(20,24,35);font-family:helvetica,arial,sans-serif;line-height:17.5636px">
                        14576 S Center Point Way, Riverton, UT 84065</span>
                        <span style="color:rgb(20,24,35);font-family:helvetica,arial,sans-serif;line-height:17.5636px">
                          (Yep, the same place we held that awesome sauce party!!!)</span>
                        </div>
                        <div>
                          <span style="color:rgb(20,24,35);font-family:helvetica,arial,sans-serif;line-height:17.5636px">
                            <b>
                              Cost:</b>
                              $5 - Purchase it through your Parkour Utah account in the <a href="http://parkourutah.com/store">
                                Store</a>
                              </span>
                              <span style="color:rgb(20,24,35);font-family:helvetica,arial,sans-serif;line-height:17.5636px">
                                .</span>
                              </div>
                              <div>
                                <span style="color:rgb(20,24,35)=;font-family:helvetica,arial,sans-serif;line-height:17.5636px">
                                  <br>
                                </span>
                                </div>
                                <div>
                                  <font color="#141823" face="helvetica, arial, sans-serif">
                                    <span style="line-height:17.5636px">
                                    For questions message us on our <a href="https://www.facebook.com/ParkourUtah">
                                      Facebook Page</a>
                                    </span>
                                  </font>
                                </div>
                                <div>
                                  <font color="#141823" face="helvetica, arial, sans-serif">
                                    <br>
                                    </font>
                                  </div>
                                  <div style="text-align:center">
                                    <font color="#141823" face="helvetica, arial, sans-serif" size="4">
                                      <b>
                                        SEE YOU THERE!!!!</b>
                                      </font>
                                    </div>
                                    <div>
                                      <span style="color:rgb(20,24,35);font-family:helvetica,arial,sans-serif;line-height:17.5636px">
                                        <br>
                                      </span>
                                    </div>
                                  </div>
