<p>Hi,<p>

<p>You may have heard that we're holding a parkour party, well that's ABSOLUTELY CORRECT!</p>

<div style="text-align: center; font-size: 1.2em;">
  <p>WE ARE HOLDING A PARKOUR PARTY NEXT SATURDAY!!!!</p>
</div>

<p>We have rented out an entire gym for you guys to go crazy and have fun in. We also are going to have PIZZA and SODA there for the taking! As well as the rest of our Parkour Utah clothing stock. EVERYTHING MUST GO! You can bring friends, but they need to sign up on our site AND fill out the <a href="http://www.upacheer.com/wp-content/uploads/UPA-Release-of-Liability_medical.pdf">UPA waiver</a></p>

<div style="text-align: center;">
  <strong>WHEN:</strong> Saturday December 12th at 6:30pm to 9:30pm<br>
  <strong>WHERE:</strong> "UPA" Utah Peak Academy (<a href="https://www.google.com/maps/place/14576+S+Center+Point+Way,+Bluffdale,+UT+84065/data=!4m2!3m1!1s0x87528130433df4a3:0xd5fda9ec3c2330f0?sa=X&ved=0ahUKEwj73fnrlMHJAhUE0mMKHXIBCEoQ8gEIHDAA">14576 S Center Point Way, Riverton, UT 84065</a>)<br>
  <strong>BRING:</strong> Comfy clothes, A <a href="http://parkourutah.com/users/sign_up">Parkour Utah Account ID AND PIN</a> and UPA Waiver (<a href="http://www.upacheer.com/wp-content/uploads/UPA-Release-of-Liability_medical.pdf">http://www.upacheer.com/wp-content/uploads/UPA-Release-of-Liability_medical.pdf</a>)<br>
  <strong>COST:</strong> $5, buy it through your Parkour Utah Account (<a href="http://parkourutah.com/store">http://parkourutah.com/store</a>).<br>
</div>

<p><strong>TO RECAP:</strong></p>

<p>You must have:</p>
<div style="font-size: 2em; text-align: center; line-height: 1.2;">
  <a href="http://www.upacheer.com/wp-content/uploads/UPA-Release-of-Liability_medical.pdf">A UTAH PEAK ACADEMY WAIVER</a><br>
  A PARKOUR UTAH ACCOUNT ID AND PIN<br>
  <a href="http://parkourutah.com/store">PURCHASED THE PARTY IN THE STORE</a><br>
</div>

<p>See you there!!!!</p>

Ryan Sannar <br>
Manager <br>
Parkour Utah
