<div class="central-container form-offset">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %><br/><br/>
  <h2>Events</h2>
  <br/>
  <% @events.each do |event| %>
    <%= link_to edit_event_path(event.id), class: 'pkut-btn' do %>
      <%= "#{event.city} #{event.class_name}" %>
    <% end %>
    <br/>
    <br/>
  <% end %>
</div>
