<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> has requested assistance.</h1>
    <p><%= @body %></p>
    <p>Reach out by contacting:</p>
    <p><%= @email %></p>
    <p> <%= @phone %></p>
  </body>
</html>
