<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hey Everyone!</h3>
    <p>Unfortunately, due to the weather, the gym has been flooded and neither the Friday Intermediate nor the Open Gym will be held tonight.</p>
    <p>If you have any questions or concerns, please contact Ryan at (801) 669-7743</p>
  </body>
</html>
