<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Hey Parkour Peeps!</h4>
    <p></p>
    <p>Shooting off a quick email, we have some short term bad news. Turns out we have to cancel this Friday nights open gym (April 22nd). Which is of course incredibly sad.</p>
    <p>We're still on for next Friday and we plan to make it incredible!</p>
    <p>Sorry for the short notice. See you in classes and next week!</p>
    <p></p>
    <p>Ryan</p>
    <p>Parkour Utah</p>
     <br/>
  </body>
</html>
