<div class="central-container">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %>
  <% if @user.present? %>
    <%= link_to "Back to User", admin_user_path(@user), class: 'pkut-btn' %>
  <% end %>

  <div class="new-message-form">
  </div>
  <div class="messages-container">
    <% @text_messages.each do |text_message| %>
      <div class="text-message <%= text_message.sent_to_user? ? 'to' : 'from' %>">
        <pre><%= text_message.body %></pre>
      </div>
    <% end %>
  </div>

</div>
