<div class="skinny-container">
  <%= link_to "Add another Athlete", competition_path(@competitor.competition), class: "pkut-btn" %>
  <h3 class="text-center">Thank you!</h3>

  <p style="font-size: 16px;">You will be receiving a confirmation email shortly, and another approval email when <%= @competitor.athlete.full_name %> has been approved.</p>
  <p style="font-size: 16px;">See you at the competition!</p>
</div>
