@import "config/variables";
@import 'config/font-imports';

.navbar-offset { height: $navbar-height; }

.navbar {
  transition: 1s;
  background-color: $pkut-grey-white;
  opacity: 0.8;
  border-bottom: 3px solid $pkut-grey;
  max-width: 100vw;
  position: fixed;
  top: 0; left: 0;
}

.navbar-nav > li {
  .dropdown-menu {
    margin-top: 2px;
  }
}

.icon-bar {
  background-color: red;
}

.nav-icon {
  position: absolute;
  right: 17px;
  top: 17px;
}

.navbar a {
  font-size: 14px;
  color: $pkut-red;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF,
    2px 2px 3px #555;
  &:hover {
    text-decoration: none;
    background-color: $pkut-grey-white;
    color: darken($pkut-red, 10%);
  }
}

.dropdown-menu > li > a {
  text-decoration: none;
  text-transform: none;
  color: $pkut-red;
}
