// Colors
$pkut-orange: #F7941D;
$pkut-red: #DF0D15;
$pkut-red-dark: #AE3E3E;

$pkut-grey-white: #EEE;
$pkut-grey-light: #CCC;
$pkut-grey: #9A9A9A;
$pkut-grey-dark: #504F50;


// Fonts
@font-face {
  font-family: 'sevSeg';
  src:asset-url('sevSeg.ttf');
  src:asset-url('sevSeg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'digital_7';
  src:asset-url('digital-7.ttf');
  src:asset-url('digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Young-Italic';
  src: font-url('young/Young-Italic.ttf');
}

@font-face {
  font-family: 'Young';
  src: font-url('young/Young.ttf');
}


@font-face {
  font-family: 'Gravity-Bold-Italic';
  src: font-url('gravity/Gravity-Bold-Italic.ttf');
}

@font-face {
  font-family: 'Gravity-Bold';
  src: font-url('gravity/Gravity-Bold.ttf');
}

@font-face {
  font-family: 'Gravity-Book-Italic';
  src: font-url('gravity/Gravity-Book-Italic.ttf');
}

@font-face {
  font-family: 'Gravity-Book';
  src: font-url('gravity/Gravity-Book.ttf');
}

@font-face {
  font-family: 'Gravity-Light-Italic';
  src: font-url('gravity/Gravity-Light-Italic.ttf');
}

@font-face {
  font-family: 'Gravity-Light';
  src: font-url('gravity/Gravity-Light.ttf');
}

@font-face {
  font-family: 'Gravity-UltraLight-Italic';
  src: font-url('gravity/Gravity-UltraLight-Italic.ttf');
}

@font-face {
  font-family: 'Gravity-UltraLight';
  src: font-url('gravity/Gravity-UltraLight.ttf');
}


@font-face {
  font-family: 'MicroExtendFLF';
  src: font-url('MicroExtendFLF/MicroExtendFLF.ttf');
}

@font-face {
  font-family: 'MicroExtendFLF-Bold';
  src: font-url('MicroExtendFLF/MicroExtendFLF-Bold.ttf');
}

@font-face {
  font-family: 'MicroExtendFLF-BoldItalic';
  src: font-url('MicroExtendFLF/MicroExtendFLF-BoldItalic.ttf');
}

@font-face {
  font-family: 'MicroExtendFLF-Italic';
  src: font-url('MicroExtendFLF/MicroExtendFLF-Italic.ttf');
}
$progress-bar-height-lg: 40px;
$progress-bar-height-md: 32px;
$progress-bar-height-sm: 20px;
$progress-bar-color: $pkut-grey;

.progress-bar {
  font-family: 'MicroExtendFLF', Arial, sans-serif;
  font-size: 23px;
  text-shadow: 3px 3px 3px darken($pkut-grey, 10%);
  color: $pkut-grey-dark;
}
.progress-bar-offset { height: 100px; }
.progress-bar-background {
  position: absolute;
  z-index: -1;

  top: 100px;
  left: -5px;

  width: 105vw;
  height: $progress-bar-height-lg;

  background: $progress-bar-color;
  box-shadow: 0 3px 7px $pkut-grey;
  i.fa {
    position: relative;
    top: 28px;
    font-size: 115px;
  }
  span {
    &.step-passed {
      color: $pkut-grey;
      i.fa {
        color: $pkut-red;
        text-shadow: none;
      }
      ::after {
        content: '';
        z-index: -1;
        position: absolute;
        background: $pkut-red;
        top: $progress-bar-height-lg;
        right: 30px;

        width: 100vw;
        height: $progress-bar-height-lg;
      }
    }
    &.step-current {
      color: $pkut-red;
      i.fa { color: $pkut-grey-dark; }
      ::after {
        content: '';
        z-index: -1;
        position: absolute;
        top: $progress-bar-height-lg;
        right: 175px;
        border-left: 20px solid $pkut-red;
        border-top: $progress-bar-height-lg/2 solid transparent;
        border-bottom: $progress-bar-height-lg/2 solid transparent;

        width: 0;
      }
    }
    position: relative;
    top: -68px;
  }
}

@media (max-width: 900px) {
  .progress-bar { font-size: 15px; }
  .progress-bar-offset { height: 80px; }
  .progress-bar-background {
    height: $progress-bar-height-md;
    top: 80px;
    span {
      top: -55px;
      &.step-passed {
        ::after {
          top: $progress-bar-height-md;
          height: $progress-bar-height-md;
          right: 20px;
        }
      }
      &.step-current {
        ::after {
          top: $progress-bar-height-md;
          right: 116px;
          border-top: $progress-bar-height-md/2 solid transparent;
          border-bottom: $progress-bar-height-md/2 solid transparent;

          width: 0;
        }
      }
    }
    i.fa {
      top: 24px;
      font-size: 90px;
    }
  }
}
@media (max-width: 600px) {
  .progress-bar { font-size: 10px; }
  .progress-bar-offset { height: 80px; }
  .progress-bar-background {
    height: $progress-bar-height-md;
    top: 80px;
    span {
      top: -55px;
      &.step-passed {
        ::after {
          top: $progress-bar-height-md;
          height: $progress-bar-height-md;
        }
      }
      &.step-current {
        ::after {
          top: $progress-bar-height-md;
          right: 90px;
          border-top: $progress-bar-height-md/2 solid transparent;
          border-bottom: $progress-bar-height-md/2 solid transparent;

          width: 0;
        }
      }
    }
    i.fa {
      top: 24px;
      font-size: 90px;
    }
  }
}
@media (max-width: 400px) {
  .progress-bar { font-size: 8px; }
  .progress-bar-offset { height: 40px; }
  .progress-bar-background {
    height: $progress-bar-height-sm;;
    top: 81px;
    span {
      top: -37px;
      &.step-passed {
        ::after {
          top: $progress-bar-height-sm;
          height: $progress-bar-height-sm;
          right: 13px;
        }
      }
      &.step-current {
        ::after {
          top: $progress-bar-height-sm;
          right: 69px;
          border-left: 10px solid $pkut-red;
          border-top: $progress-bar-height-sm/2 solid transparent;
          border-bottom: $progress-bar-height-sm/2 solid transparent;

          width: 0;
        }
      }
    }
    i.fa {
      top: 16px;
      font-size: 60px;
    }
  }
}

.icon-hidden {
  color: transparent !important;
  text-shadow: none !important;
}

.navbar-offset { height: 51px; }

.navbar {
  transition: 1s;
  background-color: $pkut-grey-white;
  opacity: 0.8;
  border-bottom: 3px solid $pkut-grey;
}

.navbar-nav > li {
  .dropdown-menu {
    margin-top: 2px;
  }
}

.icon-bar {
  background-color: red;
}

.nav-icon {
  position: absolute;
  right: 17px;
  top: 17px;
}

.navbar a {
  font-size: 14px;
  color: $pkut-red;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow:
    -0.5px -0.5px 0 #FFF,
    0.5px -0.5px 0 #FFF,
    -0.5px 0.5px 0 #FFF,
    0.5px 0.5px 0 #FFF,
    2px 2px 3px #555;
  &:hover {
    text-decoration: none;
    background-color: $pkut-grey-white;
    color: darken($pkut-red, 10%);
  }
}

.dropdown-menu > li > a {
  text-decoration: none;
  text-transform: none;
  color: $pkut-red;
}
