.calendar {
  table-layout: fixed;
}

.calendar-date-link {
  color: black;
  border: solid 2px black;
  width: 24px;
  height: 24px;
  background: white;
}

.tooltip {
  text-align: center;
}

$default: steelblue;
$sandy: rgb(0, 0, 255);
$provo: rgb(255, 255, 0);
$salt-lake-city: rgb(255, 0, 0);
$vernal: rgb(255, 0, 255);
$draper: rgb(255, 125, 0);
$orem: rgb(0, 255, 66);
// $jam: rgb(0, 0, 255);
// $beginner: rgb(255, 255, 0);
// $intermediate: rgb(255, 0, 0);
// $tricking: rgb(255, 0, 255);
// $conditioning: rgb(255, 125, 0);
$special: rgb(0, 255, 66);

.calendar-event {
  margin-left: -40px;
  overflow: hidden;
  list-style-type: none;
  text-decoration: none;
  color: black;
  background: lighten($default, 25%);
  &:hover { background: $default; }
  &.sandy {
    background: lighten($sandy, 25%);
    &:hover { background: $sandy; }
  }
  &.provo {
    background: lighten($provo, 25%);
    &:hover { background: $provo; }
  }
  &.salt-lake-city {
    background: lighten($salt-lake-city, 25%);
    &:hover { background: $salt-lake-city; }
  }
  &.vernal {
    background: lighten($vernal, 25%);
    &:hover { background: $vernal; }
  }
  &.draper {
    background: lighten($draper, 25%);
    &:hover { background: $draper; }
  }
  &.orem {
    background: lighten($orem, 25%);
    &:hover { background: $orem; }
  }
  &.special {
    background: lighten($special, 25%);
    &:hover { background: $special; }
  }
  & a { color: black; }
  &:hover { cursor: pointer; }
}

.tooltip > title { color: green; }

.today a {
  background: black;
  color: white;
}

.not-month {
  background: #eee;
}

.day-cell {
  height: 9.52381vw; //(((width / 12)*8 columns) / 7 days a week) = 9.523809523809524
  // overflow: hidden; Doesn't work?
}
