@import "config/variables";
@import 'config/font-imports';

$alert-color: $pkut-grey-dark;
$sent-color: $pkut-red-dark;
$received-color: #FAFAFA;

.chat-rooms-container {
  margin-top: 20px;
  .chat-room-box {
    display: block;
    text-decoration: none;
    transition: all 0.3s;
    border: 1px solid white;
    padding: 10px;
    overflow: hidden;

    color: white;
    background-color: transparent;
    border: 1px solid white;
    .room-name {
      font-weight: bold;
      font-size: 20px;
    }
    .room-last-message {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0px 10px 40px 0px #424242;
      color: black;
      background: white;
    }
  }
}

.message-form {
  margin-top: 50px;
  margin-bottom: 150px;
  border-radius: 15px;
  background-color: #CFD8DC;
  box-shadow: 0px 25px 51px -20px #000;
  position: relative;
  height: 500px;

  .message-form-wrapper {
    box-shadow: 0px -8px 10px -8px rgba(0,0,0, 0.7);
    border-radius: 15px;

    .new-message-field {
      width: calc(100% - 50px);
      min-height: 64px;
      max-height: 64px;
      font-size: 18px;
      color: black;
      padding: 5px;
      padding-right: 55px;
      border-radius: 15px 0 0 15px;
      border: 0;
      border-top: 2px solid #757575;
      resize: none;
      margin-bottom: -7px;

      &:focus { outline: none; }
    }

    .send-message-btn {
      transition: all 0.3;
      display: inline-block;
      font-size: 18px;
      width: 50px;
      text-decoration: none;
      border-radius: 0 13px 13px 0;
      border: 0;
      border-top: 2px solid #757575;
      position: absolute;
      height: 64px;
      line-height: 64px;
      bottom: 0px;
      right: 0px;
      background-color: $pkut-red;
      color: white;

      .fa-mobile { font-size: 30px; }

      &:hover {
        font-size: 24px;
        .fa-mobile { font-size: 36px; }
      }
    }
  }

  .messages-container {
    padding-top: 10px;
    height: 436px;
    overflow-y: scroll;
    overflow-x: hidden;

    .chat-message {
      position: relative;
      margin: 10px;

      .from-name {
        position: absolute;
        font-size: 12px;
        opacity: 0.5;
      }

      .timestamp {
        position: absolute;
        font-size: 10px;
        opacity: 0.5;
      }

      .message-body {
        width: 75%;
        display: block;
        padding: 20px 15px 10px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        background-color: #F5F5F5;
        border: 1px solid #CCC;
        border-radius: 4px;
        word-break: break-word;
        font-family: "Menlo", "Monaco", "Consolas", "Courier New", "monospace";
        overflow: visible;
        box-sizing: border-box;
        box-shadow: 0px 8px 10px -8px #000;
        .text-error-message {
          padding-top: 20px;
          text-align: center;
          font-weight: bold;
        }
      }

      &.received {
        .timestamp {
          text-align: left;
          right: calc(25% + 15px);
        }
        .message-body {
          border-radius: 0px 20px 20px 20px;
          background-color: $received-color;
          border-color: darken($received-color, 5%);
          margin-right: 25%;
        }
        .from-name {
          top: 4px; left: 15px;
        }
      }

      &.sent {
        .timestamp {
          color: white;
          top: 1px; right: 5px;
        }
        .message-body {
          border-radius: 20px 0px 20px 20px;
          color: white;
          background-color: $sent-color;
          border-color: darken($sent-color, 5%);
          margin-left: 25%;
        }
        .from-name {
          text-align: right;
          padding-left: 25%;
          left: 15px;
          top: 4px;
          color: white;
        }
      }

      &.important-alert-message {
        .message-body {
          border-radius: 20px;
          color: white;
          padding: 10px 15px 10px;
          background-color: $alert-color;
          border-color: darken($alert-color, 5%);
          width: 100%;
          text-align: center;
        }
      }

    }
  }

}
