@import "config/variables";
@import 'config/font-imports';

$alert-color: $pkut-grey-5;
$sent-color: $pkut-red-muted;
$received-color: $pkut-light;

.chat-rooms-container {
  margin-top: 20px;
  .chat-room-box {
    display: block;
    position: relative;
    text-decoration: none;
    transition: all 0.3s;
    padding: 10px;
    overflow: hidden;

    font-weight: 100;
    color: $pkut-grey-5;
    background-color: $pkut-grey-1;
    border: 1px solid $pkut-grey-2;
    .support-icon {
      position: absolute;
      top: 5px; right: 5px;
      font-size: 20px;
    }
    .timestamp {
      .fa { color: $pkut-grey-5; }
      margin-top: -5px;
      margin-bottom: 5px;
      font-size: 12px;
    }
    .room-name {
      color: $pkut-grey-5;
      font-weight: bold;
      font-size: 20px;
    }
    .room-last-message {
      padding-left: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .last-sender {
        color: $pkut-red;
      }
    }
    &:hover {
      cursor: pointer;
      z-index: 1;
      box-shadow: 0px 2px 30px -5px $pkut-grey-5;
      color: black;
      background: $pkut-light;
    }
  }
}

.message-form {
  margin-top: 50px;
  margin-bottom: 150px;
  border-radius: 15px;
  background-color: $pkut-blue-light;
  box-shadow: 0px 25px 51px -20px $pkut-dark;
  position: relative;
  height: 500px;

  .message-form-wrapper {
    position: relative;
    box-shadow: 0px -8px 10px -8px $pkut-grey-4;
    border-radius: 15px;
    
    .new-message-field {
      width: calc(100% - 50px);
      min-height: 64px;
      max-height: 64px;
      font-size: 18px;
      color: $pkut-grey-5;
      padding: 5px;
      padding-right: 55px;
      border-radius: 15px 0 0 15px;
      border: 0;
      border-top: 1px solid $pkut-grey-4;
      resize: none;
      margin-bottom: -7px;

      &:focus { outline: none; }
    }

    .send-message-btn {
      transition: all 0.3;
      display: inline-block;
      font-size: 18px;
      width: 50px;
      text-decoration: none;
      border-radius: 0 13px 13px 0;
      border: 0;
      border-top: 2px solid $pkut-grey-4;
      position: absolute;
      height: 64px;
      line-height: 64px;
      bottom: 0px;
      right: 0px;
      background-color: $pkut-red;
      color: white;

      .fa-mobile { font-size: 30px; }

      &:hover {
        font-size: 24px;
        .fa-mobile { font-size: 36px; }
      }
    }
  }

  .messages-container {
    padding-top: 10px;
    height: 436px;
    overflow-y: scroll;
    overflow-x: hidden;

    .chat-message {
      position: relative;
      margin: 10px;

      .from-name {
        position: absolute;
        font-size: 12px;
        opacity: 0.5;
      }

      .timestamp {
        position: absolute;
        font-size: 10px;
        opacity: 0.5;
      }

      .message-body {
        width: 75%;
        display: block;
        padding: 20px 15px 10px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: $pkut-dark;
        background-color: $pkut-light;
        border: 1px solid $pkut-grey-2;
        border-radius: 4px;
        word-break: break-word;
        font-family: "Menlo", "Monaco", "Consolas", "Courier New", "monospace";
        overflow: visible;
        box-sizing: border-box;
        box-shadow: 0px 8px 10px -8px $pkut-dark;
        .text-error-message {
          padding-top: 20px;
          text-align: center;
          font-weight: bold;
        }
      }

      &.received {
        .timestamp {
          text-align: left;
          right: calc(25% + 15px);
        }
        .message-body {
          border-radius: 0px 20px 20px 20px;
          background-color: $received-color;
          border-color: darken($received-color, 5%);
          margin-right: 25%;
        }
        .from-name {
          top: 4px; left: 15px;
        }
      }

      &.sent {
        .timestamp {
          color: $pkut-light;
          top: 1px; right: 5px;
        }
        .message-body {
          border-radius: 20px 0px 20px 20px;
          color: $pkut-light;
          background-color: $sent-color;
          border-color: darken($sent-color, 5%);
          margin-left: 25%;
        }
        .from-name {
          text-align: right;
          padding-left: 25%;
          left: 15px;
          top: 4px;
          color: $pkut-light;
        }
      }

      &.important-alert-message {
        .message-body {
          border-radius: 20px;
          color: $pkut-light;
          padding: 10px 15px 10px;
          background-color: $alert-color;
          border-color: darken($alert-color, 5%);
          width: 100%;
          text-align: center;
        }
      }

    }
  }

}
