.skinny-container {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}
.medium-container {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

.spaced-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &.flex-center { justify-content: space-around; }
  & > * {
    vertical-align: top;
    margin: 15px;
  }
}

#location-info {
  margin-left: 10px;
}
