.skinny-container {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#location-info {
  margin-left: 10px;
}
