$flash-text: white;
$flash-notice-bg: #616161;
$flash-alert-bg: rgba(238, 0, 0, 0.8);

.flash-banner {
  position: absolute;
  z-index: 2000;
  top: 70px;
  right: 20px;
  max-width: 100%;
  margin-left: 20px;
  text-align: center;

  &.flash-notice > .flash-container {
    border-color: $flash-notice-bg;
    background-color: $flash-notice-bg;
    color: $flash-text;
  }
  &.flash-alert > .flash-container {
    border-color: $flash-alert-bg;
    background-color: $flash-alert-bg;
    color: $flash-text;
  }
  .flash-container {
    position: relative;
    padding: 15px;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    border-width: 3px;
    border-style: outset;
    .dismiss-flash {
      position: absolute;
      top: 2px;
      right: 4px;
      cursor: pointer;
      i.fa-times-circle-o { color: $flash-text; }
    }
  }
}
