@import "config/variables";
@import 'config/font-imports';

.flash-banner, .inline-flash {
  position: fixed;
  z-index: $navbar-z-index - 10;
  top: 70px;
  right: 20px;
  max-width: 100%;
  margin-left: 20px;
  text-align: center;

  .flash-container {
    position: relative;
    padding: 10px;
    max-width: 300px;
    height: auto;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0px 8px 10px -8px #000;

    .dismiss-flash {
      position: absolute;
      top: 0px;
      right: 2px;
      cursor: pointer;
      opacity: 0.5;
      &:hover { opacity: 1; }
    }
  }

  &.flash-notice > .flash-container {
    background-color: $flash-notice-bg;
    color: $mat-grey-light;
    .dismiss-flash i.fa-times-circle-o { color: $mat-grey-dark; }
  }
  &.flash-alert > .flash-container {
    background-color: $flash-alert-bg;
    color: $mat-grey-light;
    .dismiss-flash i.fa-times-circle-o { color: $mat-grey-light; }
  }
  &.flash-announcement > .flash-container {
    width: 300px;
    background-color: #009DB2;
    color: $mat-grey-light;
    .dismiss-flash i.fa-times-circle-o { color: $mat-grey-light; }
  }
  &.high-flash {
    top: 10px; right: 10px;
  }
  a.announcement-link {
    color: $mat-grey-light;
    &:hover, &:active, &:focus, &:visited {
      color: $mat-grey-light;
    }
  }
  .announcement-red, .announcement-red * {
    color: $pkut-red !important;
  }
  .announcement-large {
    font-size: 22px;
  }
}
.inline-flash {
  position: relative;
  top: 0; right: 0;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}
