@font-face {
  font-family: 'sevSeg';
  src:asset-url('sevSeg.ttf');
  src:asset-url('sevSeg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'digital_7';
  src:asset-url('digital-7.ttf');
  src:asset-url('digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
