.fileform-center { margin-left: 90px; }

.form-offset {
  margin-top: 50px;
  margin-bottom: 50px;
}

.pkut-textbox {
  margin: 10px 0;
  width: 300px;
  max-width: 85%;
  height: 30px;
  font-size: 1.5em;
  color: black;
  border: 2px solid $pkut-grey;
  border-radius: 7px;
  padding: 4px 0 0 10px;
  &:focus { outline: none; }
}

.fancy-textarea {
  width: 350px;
  margin: 20px 0;
  max-width: 95%;
  font-size: 1.3em;
  color: black;
  padding: 20px;
  border-radius: 20px;
  &:focus { outline: none; }
}

.pkut-btn {
  transition: 0.3s;
  margin: 20px;

  text-decoration: none;
  padding: 3px 20px;
  font-family: 'MicroExtendFLF-Bold', Arial, sans-serif;
  font-size: 1.2em;

  border: none;
  border-radius: 5px / 10px;
  box-shadow: 3px 3px 5px black;

  color: $pkut-background-secondary;
  background-color: $pkut-red;

  &:hover, &:active, &:focus {
    color: $pkut-grey-light;
    background-color: $pkut-red-dark;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }
}

.pin-entry {
  letter-spacing: 40px;
  padding-left: 50px;
}
.fancy-link {
  color: white;
  text-decoration: underline;
}

.money-btn {
  color: green;
  border-color: green;
  background: rgba(160, 236, 80, 0.3);
  &:hover {
    background: rgba(160, 236, 80, 0.8);
  }
}

.pkut-checkbox {
  position: relative;
  width: 100%;
  label {
    margin-left: 20px;
    font-weight: normal;
    font-size: 1.2em;
    &:before {
      content: "";
      left: 2px;
      top: 5px;
      position: absolute;
      width: 15px;
      height: 15px;
      border: 2px inset $pkut-grey-light;
      background: white;
    }
    &:hover {
      cursor: pointer;
      &:after {
        content: "\2713 ";
        position: absolute;
        color: $pkut-grey-dark;
        font-size: 1.5em;
        top: -6px;
        left: 2px;
      }
    }
  }
  input[type=checkbox] {
    visibility: hidden;
  }
  input[type=checkbox]:checked + label {
    &:after {
      content: "\2713 ";
      text-shadow: 1px 1px $pkut-grey-dark;
      position: absolute;
      color: $pkut-red;
      font-size: 1.5em;
      top: -8px;
      left: 2px;
    }
  }
}
