@import "config/variables";
@import 'config/font-imports';

.fileform-center { margin-left: 90px; }

.form-offset {
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-field {
  .pkut-textbox {
    margin-top: -5px;
  }
}

.form-container {
  margin:  0 auto;
  width: 100%;
  max-width: 700px;

  h3 { margin-top: 20px; }
  .pkut-dropdown, .pkut-textarea { margin-bottom: 10px; }
}

.errors-container {
  margin-bottom: 30px;
  border-width: 3px;
  border-style: outset;
  border-radius: 8px;
  border-color: red;
  background: pink;
  padding: 10px;
  text-align: left;
}

.notification-container {
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 1px 2px 4px black;
  border-radius: 8px;
  background: $notification-color;
  padding: 10px;
  padding-left: 30px;
  max-width: 600px;
  color: #F5F5F5;
  text-align: left;
  .notification {}
}

.recaptcha-container {
  margin: 0 auto;
  width: 300px;
}

.pkut-box {
  margin-left: 10px;
  border: 2px solid $mat-grey;
  border-radius: 7px;
  background: $mat-grey-light;
  padding: 0 2.5%;
  width: 600px;
  text-align: left;
}

.pkut-dropdown {
  width: 100%;
  max-width: 350px;
  font-size: 21px;
  line-height: 30px;
}

.text-field-height {
  margin: 10px 0;
  height: 30px;
}

.pkut-textbox {
  margin: 10px 0;

  border: 2px solid $pkut-grey-dark;
  border-radius: 7px;
  padding: 4px 0 0 10px;
  width: 100%;
  max-width: 100%;
  height: 30px;
  color: black;

  font-size: 21px;
  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 1px #DF0D15;
    border: 1px solid #DF0D15;
  }
  &.sm-textbox {
    width: 155px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &.xs-textbox {
    width: 85px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &.textbox-2col-5max {
    width: 130px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &.textbox-1col-5max {
    width: 70px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.show-required {
  position: relative;
  &:before {
    position: absolute;
    top: 20px;
    padding-left: 10px;
    content: '(Required)';
  }
  .what-is-pin {
    position: absolute;
    top: -30px;
    right: 5px;
    width: 70px;
  }
}

.pkut-textarea {

  border: 2px solid $pkut-grey-dark;
  border-radius: 20px;
  border-radius: 7px;
  padding: 5px;
  width: 100%;
  min-height: 6em;
  color: black;
  font-size: 1.3em;
  &:focus { outline: none; }
}

.mat-pkut-textarea {
  @extend .pkut-textarea;
  border: 1px solid $mat-grey;
  border-radius: 3px;

  resize: none;
  &:focus {
    box-shadow: inset 0px 0px 0px 1px $mat-pkut-red;
    border: 1px solid $mat-pkut-red;
  }
}

.contact-us {
  .contact-links {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    width: 400px;
    max-width: 100%;

    .contact-link img {
      width: 50px;
      height: 50px;
    }
  }
  .contact-or {
    margin-bottom: -10px;
  }
  .col-sm-4 {
    padding: 5px;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
    @media(max-width: 767px) {
      padding: 0px;
      padding-bottom: 10px;
    }
  }
  .header-text {
    text-align: center;
  }
}

.pkut-btn {
  display: inline-block;
  position: relative;

  z-index: 100;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 8px 20px;
  outline: none;
  box-shadow: none;

  border: none;
  border-radius: 3px;
  background-color: $pkut-red;

  padding: 5px 20px;
  max-width: 300px;

  color: $pkut-grey-white;
  font-family: 'MicroExtendFLF-Bold', Arial, sans-serif;
  font-size: 18px;

  line-height: 1;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    outline: none;
    background-color: $pkut-red-dark;
    color: $pkut-grey-light;
    text-decoration: none;
  }
  &.disabled {
    outline: none;
    background-color: $pkut-red-dark;
    pointer-events: none;
    color: $pkut-grey-light;
    text-decoration: none;
  }
  &.low-btn { z-index: 99; }
}

.big-btn {
  position: relative;
  z-index: 99;
  margin: 20px auto;
  white-space: normal;
  a {
    max-width: 200px;
    color: white;
    text-decoration: none;
  }
  &.orange-btn-glowing {
    animation: glowing 1800ms infinite;
  }
}

@keyframes glowing {
  0%, 100% { background-color: orange; }
  50% { background-color: red; }
}


.main-btn {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
  margin: 7px;
  border: 1px solid white;
  border-radius: 6px;

  background: transparent;
  padding: 10px 0;
  width: 170px;
  color: white;
  font-size: 17px;
  line-height: 1.33;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    box-shadow: none !important;

    background-color: $mat-white;

    color: $mat-pkut-red;
    text-decoration: none;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.1s ease-in-out;
    box-shadow: 0px 10px 40px 0px $mat-grey-dark;
    width: 100%;
    height: 100%;
    content: '';
  }

  &:hover:after {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .pkut-btn { margin-left: 0; }
  .main-btn {
    padding: 15px 0;
    width: 40%;
    font-size: 8px;
  }
}
.call-to-arms {

  border-color: transparent;
  background: $mat-pkut-red;
  padding: 20px 0;
  width: 170px;
  color: $mat-white;

  &:hover {
    background-color: $mat-white;
    color: $mat-pkut-red;
  }
}

.pkut-checkbox {
  width: 100%;
  label {
    position: relative;
    margin-left: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    &:before {
      position: absolute;
      top: 0px;
      left: -35px;
      border: 2px inset $pkut-grey;
      background: white;
      width: 15px;
      height: 15px;
      content: "";
    }
    &:hover {
      cursor: pointer;
      &:after {
        position: absolute;
        top: -8px;
        left: -35px;
        color: $pkut-grey-dark;
        font-size: 21px;
        content: "\2713 ";
      }
    }
  }
  input[type=checkbox] {
    display: none;
    visibility: hidden;
  }
  input[type=checkbox]:checked + label {
    &:after {
      position: absolute;
      top: -8px;
      left: -35px;
      color: $pkut-red;
      font-size: 21px;
      text-shadow: 1px 1px $pkut-grey-dark;
      content: "\2713 ";
    }
  }
  &.center-checkbox {
    label {
      padding-left: 50px;
      &:before {
        left: 50%;
        margin-left: -30px;
      }
      &:hover {
        &:after {
          top: -9px;
          left: 50%;
          margin-left: -30px;
        }
      }
    }
    input[type=checkbox]:checked + label {
      &:after {
        top: -7px;
        left: 50%;
        margin-left: -30px;
      }
    }
  }
}

.pkut-radio {
  width: 100%;

  label {
    position: relative;
    margin-left: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: normal;

    &:before {
      position: absolute;
      top: 0px;
      left: -35px;
      border: 2px inset $pkut-grey;
      border-radius: 100%;
      background: white;
      width: 15px;
      height: 15px;
      content: "";
    }

    &:hover {
      cursor: pointer;

      &:after {
        position: absolute;
        top: 3px;
        left: -32px;
        border-radius: 100%;
        background: $pkut-red-dark;
        width: 10px;
        height: 10px;
        color: $pkut-grey-dark;
        content: "";
      }
    }
  }
  input[type=radio] {
    display: none;
    visibility: hidden;
  }
  input[type=radio]:checked + label {
    &:after {
      position: absolute;
      top: 3px;
      left: -32px;
      border-radius: 100%;
      background: $pkut-red;
      width: 10px;
      height: 10px;
      color: $pkut-grey-dark;
      content: "";
    }
  }
}

.arrow-required {
  display: inline-block;
  margin-left: 50px;
  background: red;
  color: black;
  font-size: 14px;
  font-weight: bold;
  &:before {
    position: absolute;
    margin-top: -6px;
    margin-left: -20px;
    border-top: 16px solid transparent;
    border-right: 20px solid red;
    border-bottom: 16px solid transparent;
    width: 0;
    height: 0;
    content: '';
  }
}
