@import "config/variables";
@import 'config/font-imports';

.hover-btn:hover { cursor: pointer; }

.central-container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  max-width: 95%;
}

.min-container {
  min-height: Calc(100vh - 50px);
}

.small-container {
  width: 400px;
  max-width: 95%;
}

.double {
  zoom: 2;
  transform: scale(2);
}

.no-format {
  white-space: pre-wrap;
}

.locations-item {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  position: relative;

  &:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0px 5px 20px -5px $mat-grey;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover {
    // Overriding Bootstrap's applied styles
    color: $mat-pkut-red !important;
    background-color: white !important;
    box-shadow: none !important;
    transform: scale(1.05, 1.05);
  }

  &:hover:after {
    opacity: 1;
  }
}

.close-btn {
  transition: all 0.1s ease-in-out;
  float: right;
  position: relative;
  top: 5px;
  right: 5px;

  color: $mat-pkut-red;
  background: transparent;
  border: none;
  outline: none;
  &:hover {
    color: $mat-pkut-red;
    text-shadow: 0px 5px 16px rgba(193, 193, 193, 1);
    transform: scale(1.05, 1.05);
  }
  &.contact-close {
    margin-right: 16px;
    margin-top: 1px;
  }
  &.delete { margin-top: 10px; }
}

.restrictBio {
  overflow: hidden;
  font-size: 1em;
}

.error-div {
  margin-top: 50px;
  text-align: left;
  width: 400px;
  padding-left: 10px;
  line-height: 3em;
  color: $pkut-grey;

  padding: 0 20px 20px;
  border-radius: 8px;
  border: 2px solid $pkut-grey-light;
  background: white;
  h1 {
    font-size: 72px;
    color: $pkut-red;
    text-align: center;
  }
}

.social-media-container {
  display: inline-block;
  padding-left: 125px;
  padding-right: 125px;
  border-bottom: 1px solid white;

  .social-media-icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: inline-block;
    transition: all 0.13s ease-out;
    border-radius: 100%;

    .bubble {
      position: absolute;
      top: 0; left: 0; right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 100%;
      &:before {
        transition: all 0.3s ease-out;
        display: inline-block;
        position: absolute;
        content: "";
        font-family: "FontAwesome";
        color: white;
        width: 100%;
        height: 100%;
        line-height: 50px;
        font-size: 25px;
        text-align: center;
        left: 0;
        top: 0;
        z-index: 1;
      }
      &.facebook:before { content: "\f09a"; }
      &.youtube:before { content: "\f167"; }
      &.twitter:before { content: "\f099"; }
      &:after {
        transition: all 0.13s ease-in;
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background-color: white;
      }
    }
    &:hover {
      .bubble:after { top: 0; }
      .bubble.facebook:before { color: #3B5998 }
      .bubble.youtube:before { color: #B31217 }
      .bubble.twitter:before { color: #55ACEE }
    }
  }
}
.copyright {
  padding: 15px;
}

a.bluelink{
  color: blue;
  text-decoration: none;
  position: relative;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  
  &:after{
    transition: all 0.1s ease-in-out;
    width: 100%;
    height: 1px;
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    background-color: blue;
    opacity: 0;
  }
  &:hover{
    color: blue;
    text-decoration: none;
  }
  &:hover:after{
    bottom: 0;
    opacity: 1;
  }
}