.media-links {
  color: white;
}

.hover-btn:hover { cursor: pointer; }

body {
  background: image-url('//s3-us-west-2.amazonaws.com/pkut-default/carbon-fiber-gray.jpg');
}

textarea {
  resize: none;
}

.central-container {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  max-width: 95%;
}

.fileform-center { margin-left: 90px; }

.form-offset {
  margin-top: 50px;
  margin-bottom: 50px;
}

.fancy-box {
  background-image: image-url("concrete-small.png");
  background-size: cover;
  color: white;
  border: 1px solid red;
  padding: 20px 10px 50px 10px;
  border-radius: 10px;
  text-align: center;
}
.fancy-textbox {
  margin: 10px 0;
  width: 300px;
  max-width: 85%;
  height: 40px;
  font-size: 2em;
  color: black;
  border-radius: 20px;
  padding-left: 20px;
  &:focus { outline: none; }
}
.fancy-textarea {
  width: 350px;
  margin: 20px 0;
  max-width: 95%;
  font-size: 1.3em;
  color: black;
  padding: 20px;
  border-radius: 20px;
  &:focus { outline: none; }
}
.fancy-btn {
  transition: 0.3s;
  background: rgba(236, 160, 80, 0.3);
  text-decoration: none;
  width: 200px;
  font-family: 'Voltaire';
  border: 2px solid red;
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
  color: red;
  .disabled {
    cursor: default;
    pointer-events: none;
  }
  &:focus { outline: none; }
  &:hover {
    text-decoration: none;
    cursor: pointer;
    background: rgba(236, 160, 80, 0.8);
  }
}
.pin-entry {
  letter-spacing: 40px;
  padding-left: 50px;
}
.fancy-link {
  color: white;
  text-decoration: underline;
}

.money-btn {
  color: green;
  border-color: green;
  background: rgba(160, 236, 80, 0.3);
  &:hover {
    background: rgba(160, 236, 80, 0.8);
  }
}

.double {
  zoom: 2;
  transform: scale(2);
}
