.media-links {
  transition: 0.3s;
  color: white;
  &:hover { color: red; }
}

.hover-btn:hover { cursor: pointer; }

body {
  // background: image-url('//s3-us-west-2.amazonaws.com/pkut-default/carbon-fiber-gray.jpg');
  background: #ddd;
}

textarea {
  resize: none;
}

.central-container {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  max-width: 95%;
}

.double {
  zoom: 2;
  transform: scale(2);
}

.close {
  width: 30px;
  margin-left: -30px;
  zoom: 2;
  color: red;
  &:hover {
    color: red;
  }
}

.restrictBio {
  overflow: hidden;
  font-size: 1em;
}
