.instructors-container {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  color: black;
}

.card-bio-text {
  position: relative;
  font-size: 1em;
  overflow: hidden;
  height: 95%;
}

.instructor-name {
  font-size: 2em;
}

.bio-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -45px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: #BBB;
  border-radius: 10%/50%;
  border: 2px solid black;
  padding: 5px;
  &:hover {
    text-decoration: none;
    color: blue;
  }
}

.instructors-container > .flip-container {
  margin-top: 16px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
}
.instructors-container:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.bio-background {
  height: 100%;
  width: 100%;
  padding: 10px;
  background: rgba(200, 200, 200, 0.7);
  text-align: center;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 300px;
  height: 400px;
}

/* flip speed goes here */
.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  left: 0;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  right: 0;
}
