@import "config/variables";
@import 'config/font-imports';

.reject-athlete-pin {
  position: fixed;
  top: 45%;
  left: 0;
  height: 200px;
  width: 70px;
}

.accept-athlete-pin {
  position: fixed;
  top: 45%;
  right: 0;
  height: 200px;
  width: 70px;
}

.upload-image-icon {
  width: 200px;
  height: 200px;
  border: white 5px solid;
  border-radius: 50%;
  padding-top: 50px;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  &:hover { cursor: pointer; }
}

.athlete-image {
  height: 100%;
}

.secret-title {
  position: absolute;
  top: 0;
  left: 10%;
}

.secret-btn-container {
  padding: 3px;
  height: 15vh;
}

.secret-field {
  max-height: 90%;
  width: 100%;
}

.secret-field-btn {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 0;
  font-size: 9vh;
  text-align: center;
  background: radial-gradient(#777 10%, #999);
  border: 8px outset #353;
  &:hover {
  }
  &:active {
    background: radial-gradient(#666 10%, #888);
    border: 10px inset #353;
  }
  &:hover, &:active, &:visited, &:link {
    color: #333;
    text-decoration: none;
  }
}

.pass-field {
    color: white;
  .secret-field-btn {
    background: radial-gradient(#444 10%, #666);
    border: 8px outset #999;
    &:active {
      background: radial-gradient(#333 10%, #555);
    }
    &:hover, &:active, &:visited, &:link {
      color: white;
      text-decoration: none;
    }
  }
}

.submit-secret-button {
  background: radial-gradient(#292 10%, #595);
}
.pass-secret-button {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 0;
  font-size: 9vh;
  text-align: center;
  background: radial-gradient(#292 10%, #595);
  border: 8px outset #797;
  &:hover {
  }
  &:active {
    background: radial-gradient(#666 10%, #888);
    border: 10px inset #353;
  }
  &:hover, &:active, &:visited, &:link {
    color: #333;
    text-decoration: none;
  }
}

.secret-input-field {
  width: 100%;
  height: 15vh;
  font-size: 10vh;
  text-align: center;
  color: black;
  &:disabled {
    color: black;
    opacity: 2;
  }
}
