@import "config/variables";
@import 'config/font-imports';

$tab-height: 30px;
$nav-bar-height: 51px; // Don't change me

.user-dashboard-page {
  position: absolute;
  top: $nav-bar-height; left: 0; right: 0; bottom: 0;
  padding-bottom: 30px;

  .row label {
    padding-top: 10px;
  }

  .tabs-container {
    margin: 100px 50px 0;
    position: relative;
    padding-left: 10px;
    .tab-container {
      display: inline-block;

      & > label {
        .tab-content {
          z-index: 2;
          background: $pkut-grey-light;
        }
        // &.account-tab {}
        // &.athletes-tab {}
        // &.notifications-tab {}
        // &.subscriptions-tab {}
        // &.contacts-tab {}

        .tab {
          z-index: 1;
          position: relative;
          cursor: pointer;
          text-align: center;
          height: $tab-height;
          line-height: $tab-height;
          width: 150px;
          border: 2px solid $pkut-grey;
          border-bottom-color: black;
          border-radius: 6px 6px 0 0;
          color: $pkut-grey;
          margin-bottom: 10px;
          .blip {
            position: absolute;
            top: -10px; right: -5px;
            padding: 3px;
            height: 21px;
            min-width: 21px;
            background: $pkut-red;
            border-radius: 10px;

            text-align: center;
            line-height: 15px;
            border: 2px solid $pkut-grey-dark;
            color: $pkut-grey-dark;
          }
          @media(max-width: 900px) {
            width: 50px;
            padding: 0;
            .tab-name {
              display: none;
            }
          }
        }
        .tab-content {
          position: absolute;
          top: calc(#{$tab-height} - 2px); left: 0; right: 0;
          width: 100%;
          border: 2px solid black;
          border-radius: 10px;

          padding: 30px;
        }
      }

      input[type=radio] {
        display: none;
        position: absolute;
        & + label {
          .tab-content {
            display: none;
          }
        }
        &:checked + label {
          .tab {
            background: $pkut-grey-light;
            color: black;
            border-color: black;
            border-bottom: 0;
            z-index: 3;
            .blip {
              background: red;
              border: 2px solid black;
              color: black;
            }
          }
          .tab-content {
            display: block;
            margin-bottom: 30px;
          }
        }
      }

    }
    @media(max-width: 767px) {
      margin: 100px 5px 0;
    }
  }
}
