@import "config/variables";
@import 'config/font-imports';

.user-dashboard-page {

  .edit-athletes-container {
    text-align: center;
    .edit-athlete-container {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid black;
      &:last-of-type {
        background: red;
      }
    }
  }

}
