<div class="central-container">
  <%= link_to "Back to Dashboard", dashboard_path, class: 'pkut-btn' %>

  <div class="text-center">
    <%= paginate @loggers %>
  </div>

  <div class="ttable wide striped bordered log-tracker-table">
    <div class="trow title-row">
      <div class="tcell">Time</div>
      <div class="tcell">User</div>
      <div class="tcell">IP</div>
      <div class="tcell">URL</div>
    </div>
    <div class="tbody">
      <% @loggers.each do |logger| %>
        <%= render partial: "logger_row", locals: { logger: logger } %>
      <% end %>
    </div>
  </div>
</div>
