<h2>Your Unlimited Subscription payment is due in 10 days.</h2>
<p>This charge is automatic. No action is required.</p>
<br/>
<p>If you would like to cancel your subscription so that the charge is not posted, please click <a href="http://parkourutah.com/users/edit">here.</a> This will take you to your account page.</p>
<p>From there, click "Manage Subscriptions" and then click "Unsubscribe"</p>
<p>Then click "Unsubscribe" next to which ever students you would like to end your subscription for.</p>
<p>Don't worry! Your student will still have unlimited class access until the posted date, even if you cancel.</p>
