<div class="fancy-box central-container form-offset">
  <h4><%= link_to "Back to Dashboard", dashboard_path, class: 'fancy-btn' %></h4><br/><br/>
  <% @items.each do |item| %>
    <h3>
      <% if item.hidden %>
        &lt;Hidden&gt;
      <% end %>
      <%= link_to item.title, edit_item_path(item.id), class: 'fancy-link' %>
    </h3>
  <% end %>
</div>
