<% if @order %>
  $('.redemption-key-container').val('');
  $('.orders-placeholder').append('<div class="hidden-holder"><%= j render partial: "shopping_cart_item", locals: {order: @order} %></div>');
<% end %>
