<% ['alert', 'notice'].each do |type| %>
  <% if message = flash.send(type) %>
    <div class="flash-banner flash-<%= type %> <%= 'high-flash' if @high_flash %>">
      <div class="flash-container">
        <% if type == 'alert' %>
          <i class="fa fa-ban"></i>
        <% else %>
          <i class="fa fa-check-circle-o"></i>
        <% end %>
        <%= message %>
        <div class="dismiss-flash">
          <a id="dismissFlash">
            <i class="fa fa-times-circle-o"></i>
          </a>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
