<div class="navbar navbar-fixed-top" data-spy="affix">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand scroll-link">PKUT</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse pull-right" id="navbar">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><a class="scroll-link" href="#about">Account</a></li>
          <li><a class="scroll-link" href="#media">Store</a></li>
          <li><a class="scroll-link" href="#schedule">Schedule</a></li>
          <li><a class="scroll-link" href="<%= destroy_user_session_path %>">Sign Out</a></li>
        <% else %>
          <li><a class="scroll-link" href="#about">Sign In</a></li>
          <li><a class="scroll-link" href="#about">Store</a></li>
          <li><a class="scroll-link" href="#schedule">Schedule</a></li>
          <li><a class="scroll-link" href="#schedule">Contact Us</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Check to see if page is main, otherwise redirect -->
