<div class="navbar navbar-fixed-top" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
      <a href="#home" class="navbar-brand scroll-link">PKUT</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse pull-right" id="navbar">
      <ul class="nav navbar-nav">
        <li><a class="scroll-link" href="#about">About Us</a></li>
        <li><a class="scroll-link" href="#media">Videos</a></li>
        <li><a class="scroll-link" href="#peeps">Our peeps</a></li>
        <li><a class="scroll-link" href="#schedule">Schedule</a></li>
        <li><a class="scroll-link" href="#join">Join us</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Check to see if page is main, otherwise redirect -->
