<div class="modal fade" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="central-container">
    <div class="error-container center-block">
      <button type="button" class="close-btn error-close" data-dismiss="modal" aria-hidden="true"><%= icon("times-circle-o", '', class: 'fa-2x') %></button>
      <h1 class="pkut-header"><%= title %></h1>
      <p class="error-message"><%= message %></p>
    </div>
  </div>
</div>

<!-- <a alt="..." class="pkut-btn" data-toggle="modal" data-target="#~~modal_id~~">~~texthere~~</a><br/> -->
<%#= render partial: 'layouts/message', locals: {modal_id: "", title: "", message: ""} %>
