<html>
  <body>
    <%= yield %>

    <% if @email_type.present? && @user.present? %>
      <div style="font-size: 14px; text-align: center; line-height: 1; margin-top: 30px;">
        You are receiving this email because you have subscribed to ParkourUtah.<br>
        If you would no longer like to receive this type of email, <a href="<%= unsubscribe_email_url(id: @user.id, unsubscribe: @email_type) %>">click here</a> <br>
        If you would like to unsubscribe from all future non-account related emails, <a href="<%= unsubscribe_email_url(id: @user.id, unsubscribe: 'all') %>">click here</a>
      </div>
    <% end %>
  </body>
</html>
